.image-strap__wrapper {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;

    .image-strap__row {
        display: flex;
		justify-content: center;

		@media (max-width: 992px) {
			flex-wrap: wrap;
		}

        .image-strap__item {
            width: 25%;
			overflow: hidden;
			position: relative;
			display: inline-block;
			&:hover {
				img {
					transform: scale(1.5);
				}
			}
            img {
                width: 100%;
                height: 100%;
                transition: transform .5s ease;
			}

			a {
				position: absolute;
				z-index: 999;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				text-decoration: none;
				color: white;
				max-width: 125px;
				p {
					font-size: 22px;
					margin: 0;
				}
				&:after{
					content: '';
					position: absolute;
					width: 0; height: 3px;
					display: block;
					right: 0;
					background: #fff;
					transition: width .2s ease;
					-webkit-transition: width .2s ease;
				  }
				&:hover {
					&:after {
						width: 100%;
						left: 0;
						background: #fff;
					}
				}
			}
			@media (max-width: 992px) {
				width: 50%;
			}
			@media (max-width: 576px) {
				width: 100%;
			}
        }
    }
}

.image-strap__text-control {
	padding: 1em;
}
